body{
  background-color: rgb(15, 15, 15);
  color: gainsboro;
}

.column {
  float: left;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.OurInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  margin: 1rem;
}

.names {
  color: crimson;
}

.ids {
  color: salmon;
}

.tuts {
  color: mediumorchid;
}