

  .column {
    float: left;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .OurInfo
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h2
  {
    margin: 1rem;
  }
  
  .names
  {
    color: rgb(18, 18, 122);
  }
  
  .tuts
  {
    color: grey;  
  }
  